<div>
    <table border="2">
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        <tr *ngFor="let it of itarr">
            <td>{{it.itemname}}</td>
            <td>{{it.quantity}}</td>
            <td>{{it.price}}</td>
            <td>{{it.desc}}</td>
        </tr>
    </table>
    <br><br>
    <button (click)="changeFlag()">Add New Item</button>
    <br><br>

    <div *ngIf="flag">
        <iform (myevent)="flag=$event"></iform>
    </div>
</div>